<div class="main posts-index">
  <div class="container">
    <%= form_tag("/auth/login_form") do %>
    <p>メールアドレス</p>
    <input name="email">
    <p>パスワード</p>
    <input type="password" name="password">
    <p><input type="submit" "送信"</p>
    <% end %>
      
  </div>
</div>